---

---
<main>
  <section>
    <slot />
  </section>
</main>
<style>
  main {
    @apply w-full;
    @apply flex flex-row items-start;
  }
  section {
    @apply flex-grow;
    @apply container mx-auto;
  }
</style>
